

:root {
  --primary: #FF7979;
  --primary-2: #38CC8B;
  --secondary: #5E54A4;
  --input-text-color: #3D3B48;
  --gray: #BAB7D4;
  --white: #fff;

  --success-color: #38CC8B;
  --error-color: #FF7979;
}






